@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua:Das ações<br />
    Bairro:Onde tudo vale<br />
    <abbr title="Phone">Telefone:</abbr>
    11.6547-0122
</address>

<address>
    <strong>Support:</strong><a href="cletche91@hotmail.com">cletche91@hotmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>